/* GENERAL STYLES */
body{
    font-family: 'Open Sans Condensed', sans-serif;
}
/* typography */
h1{
    font-size: 40px;
}

p{
    font-size: 22px;
    color: black;
}

/* CONTAINERS STYLES */
.container{
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.container::after{
    content: '';
    display: table;
    clear: both;
}

.small-container{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.small-container::after{
    content: '';
    display: table;
    clear: both;
}

/* NAVBAR */
nav{

    line-height: 60px;
}
/* Right elements (navigation links) */
.rightside-nav li{
    display: inline-block;
    padding: 0 10px;
}

.rightside-nav li:first-child{
    padding-left: 0;
}
  
  .rightside-nav li:last-child{
    padding-right: 0;
}

  .rightside-nav li a{
    color: black;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
}

.rightside-nav li a:hover{
    background-color: black;
    color: white;
    
}
/* Nav media query */
@media screen and (max-width: 767px){
    .rightside-nav{
        display: none;
    }
}

/* HEADER JUMBOTRON */
.jumbotron{
    position: relative;
    height: 450px;
    position: relative;
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
}

.jumbotron-text{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.jumbotron-text h1{
    color: white;
    margin: 15px;
}

.jumbotron-text p{
    color: white;
    margin: 20px;
}

.jumbotron-text a img{
    width: 30%;
}
/* Jumbotron media query */
@media screen and (max-width: 767px){
    .jumbotron{
        height: 400px;
        background-position: left;
    }

    .jumbotron-text h1{
        margin: 10px;
    }

    .jumbotron-text p{
        margin: 20px;
    }


    .jumbotron-text h1{
        font-size: 30px;
    }

    .jumbotron-text a img{
        width: 50%;
    }

}

/* MONO/BIKE TWO COLUMNS SECTION */

.left-tab-mono,
.right-tab-bike{
    background: #fafafa;
    margin: 40px 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mono-bike p{
    color: black;
}

.mono-bike h3{
    font-size: 25px;
}

.mono-bike a{
    text-decoration: none;
    color: blue;
}

.left-tab-mono img{
    display: block;
    margin: 20px auto;
    height: 350px;
}

.right-tab-bike img{
    display: block;
    margin: 20px auto;
    height: 350px;
}
/* Mono/bike media query */


/* HOW DOES IT WORKS? */
.how{
    height: 400px;
    margin-bottom: 250px;
    background-image: url('../img/helbiz-banner.jpg');
    background-size: cover;
    background-position: left center;
}

.how-col-center-deckstop{
    display: none;
}

.how .how-text{
    margin-top: 450px;
}
/* How does it work? media query */
@media screen and (min-width: 991px){
    .how-col-center-deckstop{
        display: block;
        text-align: center;
    }
    .how-col-center-deckstop img{
        max-width: 100%;
        max-height: 600px;
        margin-top: 100px;
    }
}

/* 1+2 COLUMNS SECTION */
.big-col{
    height: 450px;
    background-image: url('../img/scooter-bg.jpg');
    background-size: cover;
    margin-bottom: 30px;
}






