/* GENERAL STYLES */
body{
    font-family: 'Open Sans Condensed', sans-serif;
}
/* typography */
h1{
    font-size: 40px;
}

p{
    font-size: 18px;
}

/* CONTAINERS STYLES */
.container{
    width: 1350px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.container::after{
    content: '';
    display: table;
    clear: both;
}

.small-container{
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.small-container::after{
    content: '';
    display: table;
    clear: both;
}

/* NAVBAR STYLES */
nav{
    height: 60px;
    line-height: 60px;
}
/* Right elements (navigation links) */
.rightside-nav li{
    display: inline-block;
    padding: 0 10px;
}

.rightside-nav li:first-child{
    padding-left: 0;
}
  
  .rightside-nav li:last-child{
    padding-right: 0;
}

  .rightside-nav li a{
    color: black;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
}

.rightside-nav li a:hover{
    background-color: black;
    color: white;
    
}
/* Nav media query */
@media screen and (max-width: 767px){
    .rightside-nav{
        display: none;
    }
}

/* HEADER JUMBOTRON */
.jumbotron{
    position: relative;
    height: 450px;
    position: relative;
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
}

.jumbotron-text{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.jumbotron-text h1, p{
    color: white;
    margin: 15px;
}

.jumbotron-text a img{
    width: 30%;
}
/* Jumbotron media query */
@media screen and (max-width: 767px){
    .jumbotron{
        height: 400px;
        background-position: left;
    }

    .jumbotron-text h1, p{
        margin: 10px;
    }

    .jumbotron-text h1{
        font-size: 30px;
    }

    .jumbotron-text a img{
        width: 50%;
    }

}

